p {
    margin: 0px;
}

#block-user {
    border: 1px solid rgb(243, 0, 0);
    width: 200px;
    height: 60px;
    position: absolute;
    z-index: 7;
    background-color: black;
    display: none;
}

.nav-item p {
    margin: 0px;

}

.nav-item a {
    margin: 0px;
    padding: 0px;
}

#left-nav li {
    list-style-type: none;
}

#left-nav ul {
    margin-left: 0;
    padding-left: 0;
}


/* вывод товара */
.container_cards {
    border: 2px solid rgb(255, 0, 0);
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.cards>li {
    width: 180px;
    text-align: center;
    border: 2px solid rgb(15, 248, 6);
    float: left;
    margin: 0px 15px;
    list-style-type: none;
}

.card_image img {
    width: 170px;
    height: 170px;
}



#pagination {
    border: 2px solid rgb(6, 22, 248);


}

.pagination {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0px;
}