p {
    margin: 0px;
}

#block-user {
    border: 1px solid rgb(243, 0, 0);
    width: 200px;
    height: 60px;
    position: absolute;
    z-index: 7;
    background-color: black;
    display: none;
}

.nav-item p {
    margin: 0px;

}

.nav-item a {
    margin: 0px;
    padding: 0px;
}

#left-nav li {
    list-style-type: none;
}

#left-nav ul {
    margin-left: 0;
    padding-left: 0;
}





