@import url(style-desktop.css) (min-width: 1024px);
@import url(style-tablet.css) (min-width: 769px) and (max-width: 1023px);
@import url(style-mobile.css) (max-width: 768px);

#body {
    /* вы можете ставить любую высоту и ширину блока */
    width: 100%;
    height: 1500px;
    background-image: url(../assets/fon.jpg);
}