@import url(style-desktop.css) (min-width: 1024px);
@import url(style-tablet.css) (min-width: 769px) and (max-width: 1023px);
@import url(style-mobile.css) (max-width: 768px);

@font-face {
    font-family: Regular;
    /* Имя шрифта */
    src: url(../fonts/Snap\ ITC\ Regular.ttf);
    /* Путь к файлу со шрифтом */
}

.bg-dark {
    background-color: #000000 !important;
}


.container-fluid {
    padding: 0px !important;
}



body {
    /* вы можете ставить любую высоту и ширину блока */
    background-image: url(../assets/fon.jpg);
    height: 1500px;
}


.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../assets/icon_top.png') no-repeat;
}












/* рэйтинг */
.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}



/* вывод рэйтинга */
.rating-mini {
    display: inline-block;
    font-size: 0;
    margin-top: -3.5px;
}

.rating-mini span {
    padding: 0;
    font-size: 30px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: gold;
}