.block_cuntent {
    background: rgb(22, 22, 22);
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0px !important;
    overflow: hidden;
}


#cat_products{
    margin-left: 25px;

}

#cat_products a:not([href]) {
    color: inherit;
    text-decoration: none;
    margin-top: 20px;
}

#form-error{
    margin-top: 30px; 
    font-size: 20px;
    color: rgb(152, 0, 0);
}

#cat_products label {
    width: 130px;
    font-size: 25px;
    margin-top: 30px;margin-bottom: 0rem;
}

#cat_products input {
    width: 360px;
    height: 30px;
}

#cat_products select {
    width: 360px;
    color: #000;
    height: 30px;
    margin-bottom: 5px;
}


.from {
    margin-bottom: 30px;
}

.delete-cat_category,
.delete-cat_brand,
.delete-subcategory {
    font-size: 20.5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#margindelete a{
margin-top: 10px;
}

#submit_form {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    text-align: left;
    font-size: 20px;
    padding: 0;
    margin-top: 4px;
}

.cat_buttom{
    margin-top: 15px;
}