@import url(../header_footer/footer.css);

.block_cuntent {
    background: rgb(22, 22, 22);
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0px !important;
    overflow: hidden;
}

/* блок с карточками */
.col-xl-auto,
.col-lg-auto,
.col-md-3,
.col-auto {
    position: relative;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.cards {
    text-align: center;
}

.cards>li {
    text-align: center;
    width: 240px;
    margin: 0px 15px;
    list-style-type: none;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #323232;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.count_otzv {
    position: absolute;
    text-align: right !important;
    color: #000;
    font-size: 20px;
    width: 100%;
    padding-right: 8px;
}

.count img {
    width: 30px;
    margin-right: 5px;
}

/* картинки товара */
.card_image {
    width: 205px;
    height: 205px;
    background: white;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockimage {
    height: 245px;
}

.card_image img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.tow_title {
    background: rgba(0, 0, 0);
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.otzv img {
    width: 20px;
    margin-right: 5px;
    margin-left: 15px;
}

.card_price {
    position: relative;
    justify-content: center;
    background: black;
    height: 30px;
}


.add-card img {
    width: 55px;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pagination {
    margin-bottom: 30px;
}

.pagination {
    position: relative;
    top: 50%;
    justify-content: center;
}

#block-info {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    margin-top: 25px;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}

#add-style {
    margin-left: auto;
    margin-right: 0;
}

#add-style a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.card_price a{
    text-decoration: none;
}