@import url(../header_footer/footer.css);

.block_cuntent {
    background: rgb(22, 22, 22);
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0px !important;
}



/* блок с карточками */
.col-xl-auto,
.col-lg-auto,
.col-md-3,
.col-auto {
    position: relative;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.cards {
    text-align: center;
}

.cards>li {
    text-align: center;
    width: 240px;
    margin: 0px 15px;
    list-style-type: none;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #323232;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}


/* картинки товара */
.card_image {
    width: 205px;
    height: 205px;
    background: white;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockimage {
    height: 245px;
}

.card_image img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.tow_title {
    background: rgba(0, 0, 0);
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}



#pagination {
    border: 2px solid rgb(6, 22, 248);


}

.pagination {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0px;
}