#block-user {
    border: 1px solid rgb(243, 0, 0);
    width: 140px;
    height: 60px;
    position: absolute;
    z-index: 7;
    background-color: black;
    display: none;
}

.nav-item p {
    margin: 0px;

}

.nav-item a {
    margin: 0px;
    padding: 0px;
}