#name-step {
    border: 2px solid rgb(15, 248, 6);
}

#name-step a.active {
    color: rgb(0, 60, 255);
}

#name-step ul {
    margin: 0px;
    padding: 0px;
}

#name-step li {
    display: inline;

}

#block-list-card {
    border: 2px solid rgb(255, 217, 0);
    overflow: hidden;
}

.card {
    border: 2px solid rgb(230, 0, 255);
    float: left;
    margin: 0px;
}

#list-card {
    border: 2px solid rgb(0, 255, 204);
    margin-right: 10px;
    overflow: hidden;
    margin: 0px;
}

#list-card>div {
    display: inline;
}

.card {
    padding: 0px;
    width: 180px;
    text-align: center;
}

.card img {

    height: 120px;
}

.count {
    border: 2px solid rgb(24, 62, 0);
    float: left;
}

.count ul {
    margin: 0px;
    padding: 0px;
}

.count li {
    list-style-type: none;
}

.input-count input {
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

.input-count p {
    margin: 0px;
    width: 35px;
    text-align: center;
}

.price-product {
    float: left;
    border: 2px solid rgb(248, 0, 0);
    text-align: center;
}


.delete-cart {
    border: 2px solid rgb(0, 81, 255);
    float: left;
}