@import url(../style.css);
@import url(home-desktop.css) (min-width: 1024px);
@import url(home-tablet.css) (min-width: 768px) and (max-width: 1024px);
@import url(home-mobile.css) (max-width: 768px);


.container_cards {
    border: 2px solid rgb(200, 0, 255);
    overflow: hidden;
}

.section_name {
    color: rgb(228, 24, 24);
    font-size: 25px;
    text-align: center;
    border: 2px solid rgb(0, 4, 237);
}

.cards>li {
    text-align: center;
    border: 2px solid rgb(15, 248, 6);
    float: left;
    margin: 0px 15px;
    list-style-type: none;
}

.card_image img {
    width: 170px;
    height: 170px;
}

.add-card {
    border: 2px solid rgb(255, 0, 0);
}