@import url(../style.css);
/* @import url(home-desktop.css) (min-width: 1024px);
@import url(home-tablet.css) (min-width: 768px) and (max-width: 1024px);
@import url(home-mobile.css) (max-width: 768px); */
@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

.fon {
  background-color: rgb(0, 0, 0, 0.3);
}

.containerglavn {
  background: url("../../assets/home/Planets_Stones_Surface_of_planets_Mass_Effect_558772_2560x1440.jpg");
  background-size: cover;
  height: auto;
  position: relative;
}

.blockglavn {
  background: rgb(0, 0, 0, 0.4);
  height: 100%;
}

.SPASE_ELECTRONICS {
  font-family: "Regular";
  font-size: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 25px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.inetshop {
  font-family: "Underdog", cursive;
  font-size: 45px;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.glavnplus {
  font-family: "Underdog", cursive;
  font-size: 22px;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  padding: 0 280px;
  font-weight: 100;
}

.join {
  font-size: 24px;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  padding: 0 240px;
  font-family: "Underdog", cursive;
  padding-bottom: 21px;
}

.recomend {
  background: url("../../assets/home/space-science-fiction.png");
  background-size: cover;
  height: 500px;
}

.downheader {
  background: url("../../assets/home/320391-blackangel.jpg");
  background-size: cover;
  height: 500px;
}

.block-basket {
  background: rgb(132, 132, 132);
  bottom: 0;
  right: 0;
  text-align: right;
  width: 100%;
}

#block-basket {
  margin-bottom: 5px;
  margin-right: 20px;
  font-size: 20px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

#block-basket a {
  color: white;
}

/* название с блоком */
.boxes {
  font-family: "Underdog", cursive;
  font-size: 45px;
  color: white;
  text-align: center;
  font-weight: 600px;
  text-shadow: 2px 0 2px #000,
    0 2px 2px #000,
    -2px 0 2px #000,
    0 -2px 2px #000;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* блок с карточками */
.col-xl-auto,
.col-lg-auto,
.col-md-3,
.col-auto {
  position: relative;
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.cards {
  text-align: center;
}

.cards>li {
  text-align: center;
  width: 240px;
  margin: 0px 15px;
  list-style-type: none;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #323232;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.count_otzv {
  position: absolute;
  text-align: right !important;
  color: #000;
  font-size: 20px;
  width: 100%;
  padding-right: 8px;
}

.count img {
  width: 30px;
  margin-right: 5px;
}

/* картинки товара */
.card_image {
  width: 205px;
  height: 205px;
  background: white;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockimage {
  height: 245px;
}

.card_image img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.tow_title {
  background: rgba(0, 0, 0);
  margin-top: -50px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.rating {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 5px;
}

.otzv img {
  width: 20px;
  margin-right: 5px;
  margin-left: 15px;
}

.card_price {
  position: relative;
  display: flex;
  justify-content: center;
  background: black;
}

.price {
  font-size: 25px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-card img {
  width: 55px;
  margin-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* обзоры */
.boxesobzor {
  font-family: "Underdog", cursive;
  font-size: 45px;
  color: white;
  text-align: center;
  font-weight: 600px;
  text-shadow: 2px 0 2px #000,
    0 2px 2px #000,
    -2px 0 2px #000,
    0 -2px 2px #000;
  padding-top: 15px;
}

.buttonbox {
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.asas {
  display: flex;
}

.txt-tril {
  font-size: 20px;
}


.mar {
  margin: 10px;
  position: relative;
}

.txt {
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  margin: 0px;
  padding-bottom: 20px;
  font-size: 25px;
}

.holder {
  position: absolute;
  margin: 0px auto;
  font-size: 40px;
  font-weight: 900px;
}

.holder:hover .block {
  display: block;
}

.holder,
.block {
  width: 290px;
  height: 180px;
}

.block {
  color: #ffffff;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Underdog', cursive;
  font-weight: 500px;
  border-radius: 15px;
}

.img_thriller {
  width: 450px;
  height: 240px;
  border-radius: 15px 15px 0px 0px
}

.thriller_Name {
  font-size: 20px;
  border-radius: 0px 0px 15px 15px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.smpage {
  border-style: double;
  border-width: 1px 0px 0px 0px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 12px;
  width: 230px;
  font-size: 12px;
}

.smBtn:link {
  color: rgb(255, 255, 255);
}

.smBtn:visited {
  color: rgb(255, 255, 255);
}

.smBtn:active {
  color: rgb(255, 255, 255);
}

.smBtn:hover {
  color: #007bff;
  text-decoration: none;
}

.carousel-indicators {
  padding-top: 30px;
}