@import url(../style.css);





#options-list {
    display: flex;
    list-style-type: none;
}

#options-list>li {
    display: flex;
}

#select-sort {
    color: blue;
    margin-left: 5px;
}

#sorting-list {
    list-style-type: none;
    border: 1px solid rgb(0, 225, 255);
    margin-left: 5px;
    position: absolute;
    background-color: white;
    display: none;
    padding: 0px;
}






.container_cards {
    border: 2px solid rgb(255, 0, 0);
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.cards>li {
    text-align: center;
    border: 2px solid rgb(15, 248, 6);
    float: left;
    margin: 0px 15px;
    list-style-type: none;
}

.card_image img {
    width: 170px;
    height: 170px;
}







.container_pagination {
    border: 2px solid rgb(255, 0, 0);
    justify-content: center;
    display: flex;
}