@import url(../style.css);
/* @import url(home-desktop.css) (min-width: 1024px);
@import url(home-tablet.css) (min-width: 768px) and (max-width: 1024px);
@import url(home-mobile.css) (max-width: 768px); */


.fon {
    background-color: rgb(0, 0, 0, 0.3);
}

.containerglavn {
    background: url("../../assets/spaceship_astronaut_science_fiction_3D-71925.png");
    background-size: cover;
    height: auto;
    position: relative;
}

.blockglavn {
    background: rgb(0, 0, 0, 0.4);
    height: 100%;
}


.SPASE_ELECTRONICS {
    font-family: "Regular";
    font-size: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.inetshop {
    font-family: "Underdog", cursive;
    font-size: 45px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.glavnplus {
    font-family: "Underdog", cursive;
    font-size: 22px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0 280px;
    font-weight: 100;
}

.join {
    font-size: 24px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0 240px;
    font-family: "Underdog", cursive;
    padding-bottom: 21px;
}

.recomend {
    background: url("../../assets/home/space-science-fiction.png");
    background-size: cover;
    height: 500px;
}

.downheader {
    background: url("../../assets/home/320391-blackangel.jpg");
    background-size: cover;
    height: 500px;
}

.block-basket {
    background: rgb(132, 132, 132);
    bottom: 0;
    right: 0;
    text-align: right;
    width: 100%;
}

#block-basket {
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#block-basket a {
    color: white;
}






#options-list {
    display: flex;
    list-style-type: none;
}

#options-list>li {
    display: flex;
}

#select-sort {
    color: blue;
    margin-left: 5px;
}

#sorting-list {
    list-style-type: none;
    border: 1px solid rgb(0, 225, 255);
    margin-left: 5px;
    position: absolute;
    background-color: white;
    display: none;
    padding: 0px;
}






/* блок с карточками */
.col-xl-auto,
.col-lg-auto,
.col-md-3,
.col-auto {
    position: relative;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.cards {
    text-align: center;
}

.cards>li {
    text-align: center;
    width: 240px;
    margin: 0px 15px;
    list-style-type: none;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #323232;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.count_otzv {
    position: absolute;
    text-align: right !important;
    color: #000;
    font-size: 20px;
    width: 100%;
    padding-right: 8px;
}

.count img {
    width: 30px;
    margin-right: 5px;
}

/* картинки товара */
.card_image {
    width: 205px;
    height: 205px;
    background: white;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockimage {
    height: 245px;
}

.card_image img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.tow_title {
    background: rgba(0, 0, 0);
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.rating {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 5px;
}

.otzv img {
    width: 20px;
    margin-right: 5px;
    margin-left: 15px;
}

.card_price {
    position: relative;
    display: flex;
    justify-content: center;
    background: black;
}

.price {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-card img {
    width: 55px;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* постраничная навигация */
.pagination {
    justify-content: center;
    padding-bottom: 30px;
}


/* блок сортировки */
#options-list {
    height: 70px;
    background: black;
    color: white;
    margin-bottom: 35px;
    margin-top: -5px;
}

.nazv select {
    height: 30px;
    width: 260px;
}

.diapazon {
    width: 220px;

}

.sorting-list {
    font-size: 18px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
}

.sorting-list label {
    font-size: 18px;
    margin-left: 14px;
    margin-right: 5px;
}

#select-sort {
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.diapazon {
    margin-left: 25px;
}


.diapazon p {
    margin-left: 38px;
    margin-bottom: 15px;
}

.slider {
    width: 200px;
    height: 5px;
    background: #555;
    position: relative;
    margin-bottom: 50px;
    margin-left: 20px;
}

.slider .bar {
    position: absolute;
    background: rgb(255, 255, 255);
    height: 100%;
}

.slider .bar .lp span {
    position: relative;
    left: -32px;
    top: 10px;
}

.slider .bar .rp span {
    position: relative;
    left: 0px;
    top: 10px;
}

.slider .bar .lp,
.slider .bar .rp {
    cursor: pointer;
    background: #555;
    width: 16px;
    height: 16px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100%;
    position: absolute;
    color: white;
    user-select: none;
}

.slider .bar .lp {
    left: 0px;
    top: -8px;
}

.slider .bar .rp {
    left: 100%;
    top: -8px;
}

.cards p {
    font-size: 25px;
    margin-bottom: 40px;
    height: 150px;
    background: black;
    border-radius: 20px;
    padding-top: 55px;
}