@import url(../style.css);
@import url(home-desktop.css) (min-width: 1024px);
@import url(home-tablet.css) (min-width: 768px) and (max-width: 1024px);
@import url(home-mobile.css) (max-width: 768px);

.pass-show {
    background: url(/assets/reg_aunt/open_eye.png) no-repeat;
    width: 18px;
    height: 11px;
}

.pass-hide {
    background: url(/assets/reg_aunt/eye_closed.png) no-repeat;
    width: 20px;
    height: 10px;
}

#imput-email-pass span {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    position: absolute;
}

.auth-loading {
    display: none;
}

#message-auth {
    display: none;
}

li {
    list-style-type: none;
}

/* востановление пароля */
#block-remind {
    display: none;
}

body {
    color: rgb(255, 255, 255);
}

.fon {
    background-color: rgb(0, 0, 0, 0.3);
}

.containerglavn {
    background: url("../../assets/home/Planets_Stones_Surface_of_planets_Mass_Effect_558772_2560x1440.jpg");
    background-size: cover;
    height: auto;
    position: relative;
}


.blockglavn {
    background: rgb(0, 0, 0, 0.4);
    height: 100%;
}


.SPASE_ELECTRONICS {
    font-family: "Regular";
    font-size: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.inetshop {
    font-family: "Underdog", cursive;
    font-size: 45px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.glavnplus {
    font-family: "Underdog", cursive;
    font-size: 22px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0 280px;
    font-weight: 100;
}

.join {
    font-size: 24px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0 240px;
    font-family: "Underdog", cursive;
    padding-bottom: 21px;
}