.card_image img {
    width: 170px;
    height: 170px;
}

.card_images img {
    width: 170px;
    margin-bottom: 25px;
    height: 170px;
}

.card_image a {
    position: relative;
    margin-bottom: 0px;
}

.card_image a {
    position: absolute;
}

#gallery-img {
    display: flex;
}

#baseimg {
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

#baseimg a {
    position: absolute;
    left: 145px;
}

#gallery-img {
    display: block;
}

.div-editor1,
.div-editor2,
.div-editor4 {
    display: none;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}



#baseimg a {
    width: 16px;
    height: 16px;
    background: url(../../../assets/action_delete.png) no-repeat;
    float: left;
    cursor: pointer;
    margin-left: 5px;
}

#gallery-img a {
    width: 16px;
    height: 16px;
    background: url(../../../assets/action_delete.png) no-repeat;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}


.div-editor1,
.div-editor2,
.div-editor4 {
    display: none;
}

.block_cuntent {
    background: rgb(22, 22, 22);
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0px !important;
    overflow: hidden;
}

.container_cuntent {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 40px;
}

#title-page {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    margin-right: 25px;
}

.nazv label {
    font-size: 20px;
}

.nazv input {
    width: 250px;
    margin-bottom: 20px;
    height: 30px;
}

.nazv select {
    width: 250px;
    margin-bottom: 20px;
    height: 30px;
}

#baseimg-upload {
    margin-bottom: 20px;
}

.nazv_top {
    margin-top: 20px;
}

.h3click {
    font-size: 20px;
    margin-bottom: 20px;
}

#add-input {
    margin-bottom: 20px;
    margin-top: 5px;
}

.addimage input {
    margin-top: 5px;
}

.delete-input {
    width: 200px;
}

.submit_form input {
    background: none;
    color: white;
    border: none;
    font-size: 21px;
    margin-top: 10px;
    padding: 0;
}

.h3title {
    font-size: 20px;
}

#form-error {
    color: rgb(150, 0, 0);
    margin-bottom: 20PX;
}

.del-img {

    position: absolute !important;
    left: 145px;
}

#gallery-img {
    position: relative;
}