.owl-carousel {
    width: 200px !important;
    height: 250px;
    position: relative;

}

.owl-stage {
    width: auto;
}




/* кнопка отправить  */
#reload-img {
    display: none;
}

#button-send-review {
    background: url(../../assets/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
}

#button-send-review:active {
    background: url(../../assets/button-send-active.png) no-repeat;
}



/* рэйтинг */

.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}



/* вывод рэйтинга */
.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: gold;
}