@import url(../style.css);
/* @import url(home-desktop.css) (min-width: 1024px);
@import url(home-tablet.css) (min-width: 768px) and (max-width: 1024px);
@import url(home-mobile.css) (max-width: 768px); */

.fon {
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
}

.container_content {
    background-color: rgb(15, 15, 15);
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 10px;
    padding: 0px !important;
    position: relative;
}

.containerglavn {
    background: url("../../assets/kosmonavt_kacheli_buket_154206_3840x2160.jpg");
    background-size: cover;
    height: auto;
    position: relative;
}

.blockglavn {
    background: rgb(0, 0, 0, 0.4);
    height: 100%;
}

.SPASE_ELECTRONICS {
    font-family: "Regular";
    font-size: 65px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 35px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.inetshop {
    font-family: "Underdog", cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.glavnplus {
    font-family: "Underdog", cursive;
    font-size: 26px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0 280px;
    font-weight: 100;
}

.join {
    font-size: 24px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0 240px;
    font-family: "Underdog", cursive;
    padding-bottom: 21px;
}

.container_info {
    display: inline-flex;
    margin-right: 40px;
    position: relative;
}

.title_name {
    font-size: 35px;
    padding-top: 30px;
    margin-left: 40px;
}

.prise {
    font-size: 38px;
    margin-top: 13px;
}

.rating-mini {
    margin-top: 10px !important;
}

.min_description {
    text-align: justify;
    font-size: 17px;
    margin-top: 14px;
}

.add-card {
    font-size: 25px;
    border: 1px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    position: absolute;
    margin-bottom: 30px;
}

/* картинки товара */
.block_cardss {
    color: rgb(255, 255, 255);
    width: 340px;
    text-align: center;
    margin: 30px 40px 30px 40px;
}

.container_cardss {
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.blockimage {
    display: inline-block;
    height: 340px;
    vertical-align: middle;
}

.card_image {
    width: 300px;
    height: 300px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.card_image img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.carousel-control-prev {
    left: -10px;
}

.carousel-control-next {
    right: -10px;
}

.content_top {
    margin: 50px;
    padding-bottom: 50px;
}

.nav-link {
    color: white;
    margin-right: 20px;
    font-size: 30px;
    text-align: center;

}

.nav-item a {
    text-decoration: none;
}

.nav-item a:visited {
    color: #545454;
}

.nav-item a:hover {
    color: #545454;
    text-decoration: none
}

#Description {
    font-size: 20px;
    text-align: justify;
    padding-top: 8px;
}

#Characteristics {
    padding-top: 8px;
    font-size: 18px;
}

.block-reviews {
    font-size: 20px;
    padding-top: 10px;

}

.containerblock-reviews {
    border-bottom: 1px solid white;
    display: inline-flex;
    width: 100%;
}

.block-reviews-name {
    font-size: 22px;
    padding-top: 10px;
    margin-right: 20px;
}

.block_reviews {
    font-size: 19px;
    padding-top: 10px;
    font-weight: 600;
}

.container_data {
    margin-left: auto;
    margin-right: 0;
    font-size: 19px;
    padding-top: 12px;
}

.container_reviews {
    font-size: 17px;
    text-align: justify;
}

.block_coment {
    font-style: italic;
}

.button_reviews {
    float: right;
    margin-top: 13px;

}

.button_reviews button {

    border: white;
    font-size: 19px;
}

#reviews {
    font-size: 20px;
    padding-top: 20px;
}

.modal-body {
    color: black;
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 10px;
}

.modal-body .rating-area {
    width: auto;
    margin: 0;
    margin-left: 20px;
}

.assessment {
    margin-top: 13px;
}

.predypre {
    font-size: 14px;
    text-align: justify;
    color: rgb(133, 133, 133);
}

#name_review {
    width: 300px;
    height: 40px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#good_review,
#bad_review,
#comment_review {
    resize: none;
    height: 100px;
    width: 300px;
    margin-bottom: 10px;
}

.reviwecsnter {
    margin: 0 auto;
}

/* кнопка отправить  */
#reload-img {
    display: none;
}

#button-send-review {
    background: url(../../assets/button-send.png) no-repeat;
    width: 90px;
    height: 30px;
}

#button-send-review:active {
    background: url(../../assets/button-send-active.png) no-repeat;
}