@import url(../style.css);
/* @import url(home-desktop.css) (min-width: 1024px);
@import url(home-tablet.css) (min-width: 768px) and (max-width: 1024px);
@import url(home-mobile.css) (max-width: 768px); */

.owl-carousel {
    width: 200px !important;
    height: 250px;
    position: relative;
}

.owl-stage {
    width: auto;
}

/* кнопка отправить  */
#reload-img {
    display: none;
}

#button-send-review {
    background: url(../../assets/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
}

#button-send-review:active {
    background: url(../../assets/button-send-active.png) no-repeat;
}